<section class="panel">
  <div class="panel-body">
    <div class="invoice">
      <header class="clearfix">
        <div class="row">
          <div class="col-sm-6 mt-md">
            <h3 class="h3 mt-none mb-sm text-secondary text-bold"><%= @client.name %></h3>
            <h4 class="h4 m-none text-dark text-bold">8 <%= @client_all.phone %></h4>
            <address>
              <br/>
              Дата рождения: <%= @client_all.birthday %>
              <br/>
              Дополниельный телефон: <%= @client_all.alt_phone %>
              <br/>
              Факс: <%= @client_all.fax %>
              <br/>
              E-mail: <%= @client_all.email %>
            </address>
          </div>
          <div class="col-sm-6 text-right mt-md mb-md">
            <address class="ib mr-xlg">
              <div class="bill-data text-right">
                <p class="mb-none">
                  <span class="text-dark">Орг. структура:</span>
                  <span class="value"><%= type_name(@client.type_structure) %></span>
                </p>
                <p class="mb-none">
                  <span class="text-dark">Город:</span>
                  <span class="value"><%= @client.city.name %></span>
                </p>
                <p class="mb-none">
                  <span class="text-dark">Деятельность:</span>
                  <span class="value"><%= @client.service %></span>
                </p>
                <p class="mb-none">
                  <span class="text-dark">Привлечение:</span>
                  <span class="value"><%= @client.attraction %></span>
                </p>
              </div>
            </address>
            <div class="ib">
              <%= image_tag("client.png", height: '110', alt: "client") %>
            </div>
          </div>
        </div>
      </header>

      <blockquote>
        <p><%= @client.comment %></p>
        <small>Комментарий, <cite title="date"><%= @client.created_at %></cite></small>
      </blockquote>
    </div>

    <div class="text-right mr-lg">
      <%= link_to clients_path do %>
        <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">OK</button>
      <% end %>
      <%= link_to edit_client_path do %>
        <button type="button" class="mb-xs mt-xs mr-xs btn btn-success">Редактировать</button>
      <% end %>
      <%= link_to client_path, method: :delete, data: { confirm: 'Вы действительно хотите удалить запись?' } do %>
        <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger">Удалить</button>
      <% end %>
    </div>
  </div>
</section>