<div class="nested-fields form-group">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <section class="panel panel-featured panel-featured-primary">
      <header class="panel-heading">
        <div class="panel-actions">
          <%= link_to_remove_association f do %>
            <i class="fa fa-times" style="font-size: 26px;" aria-hidden="true"></i>
          <% end %>
        </div>
        <h2 class="panel-title">Запчасть</h2>
      </header>
      <div class="panel-body">
        <div class="row form-group">
          <div class="col-lg-3">
            <label class="control-label">Артикул</label>
            <%= f.text_field :article, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Производитель</label>
            <%= f.text_field :manufacturer, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Наименование</label>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Описание</label>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-3">
            <label class="control-label">Новая или б/у</label>
            <%= f.select :condition, [['новая'], ['б/у']], {:prompt => 'Состояние...'}, {:class => 'form-control'} %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Цена закуп.</label>
            <%= f.text_field :purchase_price, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Цена прод.</label>
            <%= f.text_field :selling_price, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Кол-во, шт.</label>
            <%= f.text_field :amount, class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-3">
            <label class="control-label">Итог закуп.</label>
            <%= f.text_field :total_purch_price, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Итог прод.</label>
            <%= f.text_field :total_sell_price, class: 'form-control' %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Статус</label>
            <%= f.select :status, [['в обработке'], ['заказана у поставщика'], ['отправлена к нам'], ['отправлена клиенту'], ['доставлена клиенту']], {:prompt => 'Статус...'}, {:class => 'form-control'} %>
          </div>
          <div class="mb-md hidden-lg hidden-xl"></div>
          <div class="col-lg-3">
            <label class="control-label">Оплачено клиентом</label>
            <%= f.text_field :customer_paid, class: 'form-control' %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
