<!DOCTYPE html>
<html class="fixed">

  <head>
    <title>AsBiz</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if signed_in? %>
      <section class="body">
        <%= render 'layouts/header' %>
        <div class="inner-wrapper">
          <%= render 'layouts/sidebar_left' %>
          <section role="main" class="content-body">
            <%= yield %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </section>
        </div>
        <%= render 'layouts/sidebar_right' %>

        <div class="modal fade" id="select_client" tabindex="-1" role="dialog" aria-labelledby="SelectClientModalLabel" aria-hidden="true"></div>
      </section>
    <% else %>
      <%= yield %>
    <% end %>

  </body>

  <%= javascript_include_tag "theme.js" %>
  <%= javascript_include_tag "theme.init.js" %>


</html>
